[tool.poetry]
name = "hikka"
version = "0.1.0"
description = ""
authors = ["Hikka Team"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "0.104.1"
uvicorn = "0.21.1"
sqlalchemy = "^2.0.20"
dynaconf = "^3.2.1"
asyncpg = "^0.28.0"
meilisearch-python-async = "1.2.0"
bcrypt = "^4.0.1"
email-validator = "2.0.0.post2"
pytest = "^7.4.0"
pytest-postgresql = "^5.0.0"
async-asgi-testclient = "^1.4.11"
pytest-asyncio = "^0.21.1"
aiohttp = "^3.8.5"
apscheduler = "^3.10.4"
alembic = "^1.11.3"
typer = "^0.9.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
python_functions = "test_*"
python_files = "test_*.py"
asyncio_mode = "auto"
testpaths = "tests"
pythonpath = ["."]

[tool.ruff]
line-length = 80
exclude = [".venv", "venv", "alembic"]
extend-ignore = [
    "F821",  # Disable checks for annotated SQLAlchemy relations 
]
