[tool.pytest.ini_options]
# python_files = "test_*.py"
# python_functions = "test_*"
# python_classes = "Test* *Tests"
# addopts = "-vv -x"
asyncio_mode = "auto"
testpaths = "tests"
pythonpath = ["."]
